[Unit]
Description=node_exporter

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.textfile.directory="/var/lib/node_exporter/textfile_collector/"
Restart=always

[Install]
WantedBy=multi-user.target
